{var $navId = antrag}
{block content}
<h1 n:block=title>{$introTemplate->getSubject()}</h1>

{$introTemplate->getFinalTextMarkdown()|noescape}

<p n:if=$datenschutzInfo class="formmeldung">Bitte bestätige die Datenschutzregelungen.</p>

<p>Vielen Dank für die Bestätigung deiner E-Mail-Adresse. Du kannst jetzt mit dem Ausfüllen des Antrags fortfahren.</p>

<h2>Mitgliedsantrag</h2>

<form method="post">
    {=csrfTokenTag()}
    {include '../AntragController/daten.latte'}
    {include '../datenschutz/form.latte'}
    <input type="hidden" name="actionAntrag" value="1" />
    <p><input class="btn btn-success" type="submit" value="Daten speichern" /></p>
</form>
