{var $navId = antrag}
{block content}
<h1 n:block=title>Mitglied werden</h1>

<p>Wir haben dir eine E-Mail mit einem Link geschickt, unter dem du deinen Antrag fortsetzen kannst.</p>

<p>Bitte schau in dein E-Mail-Postfach.</p>
