{var $navId = antrag}

{block title}Mitglied werden{/block}

{block content}

<section class="panel">
    <p>Wir haben dir eine E-Mail mit einem Link geschickt, unter dem du deinen Antrag fortsetzen kannst.</p>
    <p>Bitte schau in dein E-Mail-Postfach.</p>
</section>
{/block}
