{var $navId = antrag}

{block title}Fertig!{/block}

{block content}

<section class="panel">
    <p>Dein Antrag wurde abgeschickt. Sobald die Aufnahmekommission sich eine Meinung gebildet hat, wirst du informiert.</p>
</section>
{/block}
