{import ../partials/components.latte}

<section class="panel" aria-labelledby="basisdaten-heading">
    <h2 id="basisdaten-heading">
        <i class="label-icon ti ti-id-badge" aria-hidden="true"></i>Basisdaten
    </h2>

    <p>Diese Basisdaten sind Pflichtangaben und werden von allen Mitgliedern erhoben.</p>

    {if $invalidBirthday}
        {include info-box, type: danger, id: 'invalid-birthday-info', text: 'Fehler: Bitte überprüfe das angegebene Geburtsdatum.'}
    {/if}

    {embed info-box, showCloseButton: false}{block info-box-text}
        Nach deiner Aufnahme kannst du für viele Daten festlegen, ob die
        Daten für alle Mitglieder oder nur für dich und die Beauftragten
        der Mitgliederverwaltung sichtbar sind.
    {/block}{/embed}

    <div class="form-row">
        {include form-group, "Vorname", mhn_vorname, required: true}
        {include form-group, "Nachname", mhn_nachname, required: true}
    </div>

    <div class="form-row">
        {include form-group, "Straße + Hausnummer", mhn_ws_strasse, required: true}
        {include form-group, "ggf. Adresszusatz", mhn_ws_zusatz, placeholder: "Adresszusatz"}
    </div>

    <div class="form-row">
        {include form-group, "PLZ", mhn_ws_plz, required: true}
        {include form-group, "Ort", mhn_ws_ort, required: true}
        {include form-group, "Land", mhn_ws_land, required: true}
    </div>

    {default $mhn_geburtstag = \DateTimeImmutable::createFromFormat('Y-m-d', '0000-00-00')}

    {include form-group, "Geburtsdatum", mhn_geburtstag, type: date, required: true}

    {include form-group, "E-Mail", user_email, type: email, disabled: true}

    {include form-group, "Telefon", mhn_telefon, type: tel}
</section>

<section class="panel" aria-labelledby="about-heading">
    <h2 id="about-heading">
        <i class="label-icon ti ti-user" aria-hidden="true"></i>Über mich
    </h2>

    <p>Teile mehr von dir mit, damit du im Netzwerk leichter gefunden wirst.</p>

    <div class="form-group">
        <label for="input-mhn_mensa_nr">ggf. Mitgliedsnummer bei <a href="https://www.mensa.de">Mensa in Deutschland e.V.</a></label>
        {include input, mhn_mensa_nr, placeholder: "Mensa-Mitgliedsnummer"}
    </div>
    {include form-group, "akademischer Titel", mhn_titel}

    <h3>Kontaktdaten</h3>
    {include form-group, "Homepage", mhn_homepage, type: url}

    <h3>Zweitwohnsitz <small>z.B. Adresse der Eltern</small></h3>
    <details n:attr="open: ($mhn_zws_strasse || $mhn_zws_zusatz || $mhn_zws_plz || $mhn_zws_ort || $mhn_zws_land)">
        <summary>Zweitwohnsitz angeben</summary>

        <div class="form-row">
            {include form-group, "Straße + Hausnummer", mhn_zws_strasse}
            {include form-group, "ggf. Adresszusatz", mhn_zws_zusatz, placeholder: "Adresszusatz"}
        </div>
        <div class="form-row">
            {include form-group, "PLZ", mhn_zws_plz}
            {include form-group, "Ort", mhn_zws_ort}
            {include form-group, "Land", mhn_zws_land}
        </div>
    </details>

    <h3>Sprachen, Hobbys, Interessen</h3>
    {include form-group, "Sprachen", mhn_sprachen}
    {include form-group, "Hobbys", mhn_hobbies}
    {include form-group, "Interessen", mhn_interessen}
</section>

<section class="panel" aria-labelledby="career-heading">
    <h2 id="career-heading">
        <i class="label-icon ti ti-school" aria-hidden="true"></i>Ausbildung &amp; Beruf
    </h2>

    <p>
        Angaben über deine Ausbildung und Beruf können anderen Mitgliedern helfen,
        Ansprechpartner/innen für Fragen zu ihrer eigenen Ausbildung zu finden.
        Dies ist einer der Kerngedanken des Netzwerks.
    </p>

    {include form-group, "Studiengang, Ausbildung", mhn_studienfach}
    {include form-group, "Ehrenamtliches Engagement", mhn_hochschulaktivitaet, placeholder: 'Ehrenamtliches Engagement (Fachschaftsarbeit, ...)'}
    {include form-group, "Stipendien", mhn_stipendien}
    {include form-group, "Auslandsaufenthalte", mhn_ausland}
    {include form-group, "Praktika, Fort- und Weiterbildungen", mhn_praktika}
    {include form-group, "Beruf", mhn_beruf}
</section>

<section class="panel" aria-labelledby="network-heading">
    <h2 id="network-heading">
        <i class="label-icon ti ti-affiliate" aria-hidden="true"></i>Netzwerk
    </h2>

    <p>
        Wie möchtest du im Netzwerk aktiv sein? Diese Angaben können für alle Mitglieder sichtbar sein.
    </p>

    <div>
        <h4>Ich gebe Auskunft über</h4>
        {include box, name: mhn_auskunft_studiengang, label: 'Studiengang'}
        {include box, name: mhn_auskunft_stipendien, label: 'Stipendien'}
        {include box, name: mhn_auskunft_ausland, label: 'Auslandsaufenthalte'}
        {include box, name: mhn_auskunft_praktika, label: 'Praktika'}
        {include box, name: mhn_auskunft_beruf, label: 'Beruf'}
        {include box, name: mhn_mentoring, label: 'Ich bin prinzipiell bereit zu beruflichem Mentoring'}
    </div>

    <div>
        <h4>Ich könnte bei folgenden Aufgaben helfen</h4>
        {include box, mhn_aufgabe_orte, "Mithilfe bei der Suche nach Veranstaltungsorten"}
        {include box, mhn_aufgabe_vortrag, "einen Vortrag, ein Seminar oder einen Workshop anbieten"}
        {include box, mhn_aufgabe_koord, "eine Koordinations-Aufgabe, die man per Mail/Tel. von zu Hause erledigen kann"}
        {include box, mhn_aufgabe_computer, "eine Aufgabe, in der ich mein Computer-/IT-Wissen einbringen kann"}
        {include box, mhn_aufgabe_texte_schreiben, "Texte verfassen (z.B. für die Homepage oder den MHN-Newsletter)"}
        {include box, mhn_aufgabe_ansprechpartner, "Ansprechpartner vor Ort (lokale Treffen organisieren, Plakate aufhängen)"}
        {include box, mhn_aufgabe_hilfe, "eine kleine, zeitlich begrenzte Aufgabe, wenn ihr dringend Hilfe braucht"}
    </div>
</section>

<section class="panel" aria-labelledby="fragen-heading">
    <h2 id="fragen-heading">
        <i class="label-icon ti ti-question-mark" aria-hidden="true"></i>Weitere Fragen zur Aufnahme
    </h2>

    <p>
        Diese Fragen werden bei einer Aufnahme nicht in dein Benutzerprofil übernommen,
        sondern helfen der Aufnahmekommission bei der Einschätzung, ob die satzungsgemäßen
        Aufnahmekriterien erfüllt sind. Außerdem dienen sie dazu, dich nach der Aufnahme
        mit passenden Teams zu vernetzen.
    </p>

    {include form-group, label: 'Wie bist du auf das MHN aufmerksam geworden?', name: mhn_aufmerksam, type: textarea}
    {include form-group, label: 'Was möchtest du zu MHN beitragen?', name: mhn_beitragen, type: textarea}
    {include form-group, label: 'Was hat Dein Interesse an MHN geweckt?', name: mhn_interesse, type: textarea}
    {include form-group, label: 'Welche Vorstellung und welche Erwartungen hast Du bislang von MHN?', name: mhn_vorstellung, type: textarea}
    {include form-group, label: 'Welche MHN-Mitglieder kennst du persönlich?', name: mhn_kennen, type: textarea}
    {include form-group, label: 'Was möchtest du uns sonst noch mitteilen?', name: mhn_bemerkungen, type: textarea}
</section>