{import ../partials/components.latte}

<section class="panel" aria-labelledby="kontaktdaten-heading">
    <h2 id="kontaktdaten-heading">
        <i class="label-icon ti ti-at" aria-hidden="true"></i>Kontakt & Ort
    </h2>

    <p>
        Wir legen Wert auf Datenschutz und Datensparsamkeit, benötigen als Verein
        und Netzwerk aber natürlich etliche persönliche Daten. Die Pflichtfelder (<i style="color: var(--accent);" class="ti ti-asterisk" aria-hidden="true"></i>)
        benötigen wir, um das offizielle Mitgliederverzeichnis zu führen.
    </p>

    {if $invalidBirthday}
        {include info-box, type: danger, id: 'invalid-birthday-info', text: 'Fehler: Bitte überprüfe das angegebene Geburtsdatum.'}
    {/if}

    {embed info-box, showCloseButton: false}{block info-box-text}
        Nach deiner Aufnahme kannst du für die Pflichtdaten (außer deinem Namen)
        festlegen, ob die Daten für alle Mitglieder oder nur für dich und die Beauftragten
        der Mitgliederverwaltung sichtbar sind. Die freiwilligen Angaben werden nach der
        Aufnahme vereinsöffentlich ins Mitgliederverzeichnis übertragen. Natürlich
        kannst du die Daten nach der Aufnahme auch bearbeiten oder löschen.
    {/block}{/embed}

    <div class="form-row">
        {include form-group, "akademischer Titel", mhn_titel, placeholder: "wie Prof., Dr., Dr. med."}
        {include form-group, "Vorname", mhn_vorname, required: true}
        {include form-group, "Nachname", mhn_nachname, required: true}
    </div>

    {include form-group, "E-Mail", user_email, type: email, disabled: true, required: true}

    <div class="form-row">
        {include form-group, "Straße + Hausnummer", mhn_ws_strasse, required: true}
        {include form-group, "ggf. Adresszusatz", mhn_ws_zusatz, placeholder: "Adresszusatz"}
    </div>

    <div class="form-row">
        {include form-group, "PLZ", mhn_ws_plz, required: true}
        {include form-group, "Ort", mhn_ws_ort, required: true}
        {* Deutsch/Österreich/Schweiz oben in der Liste; Leerzeichen, um doppelte Keys zu vermeiden *}
        {include form-group, "Land", mhn_ws_land, type: select, required: true, options: [
            ' DE ' => 'Deutschland',
            ' AT ' => 'Österreich',
            ' CH ' => 'Schweiz',
            '---' => '---',
            ...getCountryNames(),
        ], value: in_array($mhn_ws_land, ['DE', 'AT', 'CH']) ? " $mhn_ws_land " : $mhn_ws_land}
    </div>

    <details n:attr="open: $mhn_zws_strasse || $mhn_zws_zusatz || $mhn_zws_plz || $mhn_zws_ort || $mhn_zws_land">
        <summary><h3 style="display: inline"><i class="ti ti-chevron-right" aria-hidden="true"></i>Zweitwohnsitz <small>z.B. Adresse der Eltern</small></h3></summary>

        <div class="form-row">
            {include form-group, "Straße + Hausnummer", mhn_zws_strasse}
            {include form-group, "ggf. Adresszusatz", mhn_zws_zusatz, placeholder: "Adresszusatz"}
        </div>
        <div class="form-row">
            {include form-group, "PLZ", mhn_zws_plz}
            {include form-group, "Ort", mhn_zws_ort}
            {include form-group, "Land", mhn_zws_land, type: select, options: [
                '' => 'nicht angegeben',
                ' DE ' => 'Deutschland',
                ' AT ' => 'Österreich',
                ' CH ' => 'Schweiz',
                '---' => '---',
                ...getCountryNames(),
            ], value: in_array($mhn_zws_land, ['DE', 'AT', 'CH']) ? " $mhn_zws_land " : $mhn_zws_land}
        </div>
    </details>

    {include form-group, "Telefon", mhn_telefon, type: tel}

    {include form-group, "Homepage", mhn_homepage, type: url}
</section>

<section class="panel" aria-labelledby="career-heading">
    <h2 id="career-heading">
        <i class="label-icon ti ti-school" aria-hidden="true"></i>Ausbildung &amp; Beruf
    </h2>

    <p>
        Wir leben von der fachlichen Vielseitigkeit und dem multidisziplinären
        wissenschaftlichen Interesse aller Mitglieder. Bitte erzähl uns etwas über
        deinen Werdegang.
    </p>

    {embed info-box, showCloseButton: false}{block info-box-text}
        Diese Angaben sind freiwillig und werden zum Vereinszweck
        des Netzwerkens nach der Aufnahme vereinsöffentlich ins Mitgliederverzeichnis übertragen.
    {/block}{/embed}

    {include form-group, "Studienfächer, Ausbildung", mhn_studienfach}
    {include form-group, "Stipendien", mhn_stipendien}
    {include form-group, "Auslandsaufenthalte", mhn_ausland}
    {include form-group, "Praktika, Fort- und Weiterbildungen", mhn_praktika}
    {include form-group, "Beruf", mhn_beruf}
    {include box, name: mhn_mentoring, label: 'Ich stehe gerne als Mentor*in für andere MHN-Mitglieder in meinem Fachbereich zur Verfügung.'}
</section>

<section class="panel" aria-labelledby="engagement-heading">
    <h2 id="network-heading">
        <i class="label-icon ti ti-carambola" aria-hidden="true"></i>Engagement für den Verein
    </h2>

    <p>
        Das MHN lebt vom Engagement seiner Mitglieder, deshalb suchen wir Neumitglieder,
        die mitarbeiten möchten. Dabei ist es auch in Ordnung, wenn du noch keine
        Vorerfahrungen hast. Voneinander-Lernen und gemeinsames Wachstum stehen bei uns
        im Mittelpunkt!
    </p>

    {embed info-box, showCloseButton: false}{block info-box-text}
        Diese Angaben sind freiwillig und werden zum Vereinszweck
        des Netzwerkens nach der Aufnahme vereinsöffentlich ins Mitgliederverzeichnis übertragen.
    {/block}{/embed}

    <div>
        <h4>Ich könnte bei folgenden Aufgaben helfen</h4>
        {include box, mhn_aufgabe_orte, "Mithilfe bei der Suche nach Veranstaltungsorten"}
        {include box, mhn_aufgabe_vortrag, "Anbieten von Workshops und Vorträgen z.B. auf Wochenend-Seminaren oder der Akademie"}
        {include box, mhn_aufgabe_koord, "eine Koordinations-Aufgabe, die man per Mail/Tel. von zu Hause erledigen kann"}
        {include box, mhn_aufgabe_computer, "IT-Team, d.h. Open-Source-Tools für Server, Mitgliederdatenbank, Veranstaltungssoftware, Webseite ... implementieren und hosten"}
        {include box, mhn_aufgabe_texte_schreiben, "Öffentlichkeitsarbeit, d.h. Webseiten-Inhalte, Social Media, Kooperationen mit Partnervereinen"}
        {include box, mhn_aufgabe_ansprechpartner, "Organisation von lokalen Treffen in größeren Städten"}
        {include box, mhn_aufgabe_hilfe, "eine kleine, zeitlich begrenzte Aufgabe, wenn ihr dringend Hilfe braucht"}
    </div>
</section>

<section class="panel" aria-labelledby="about-heading">
    <h2 id="about-heading">
        <span class="label-icon" aria-hidden="true"><i class="ti ti-mood-spark"></i></span>Persönliches
    </h2>

    {default $mhn_geburtstag = \DateTimeImmutable::createFromFormat('Y-m-d', '0000-00-00')}
    {include form-group, "Geburtsdatum", mhn_geburtstag, type: date, required: true}

    <div class="form-group">
        <label for="input-mhn_mensa_nr">ggf. Mitgliedsnummer bei <a href="https://www.mensa.de">Mensa in Deutschland e.V.</a></label>
        {include input, mhn_mensa_nr, placeholder: "Mensa-Mitgliedsnummer"}
    </div>

    {include form-group, "Sprachen", mhn_sprachen}
    {include form-group, "Hobbys", mhn_hobbies}
    {include form-group, "Interessen", mhn_interessen}

    {include form-group, "Ehrenamtliches Engagement", mhn_hochschulaktivitaet, placeholder: 'Ehrenamtliches Engagement (Fachschaftsarbeit, ...)'}
</section>

<section class="panel" aria-labelledby="fragen-heading">
    <h2 id="fragen-heading">
        <i class="label-icon ti ti-question-mark" aria-hidden="true"></i>Weitere Angaben für die Aufnahmekommission
    </h2>

    <p>
        Diese Angaben benötigen wir für den Aufnahmeantrag. Nur die Aufnahmekommission
        und die IT-Administrator*innen können sie einsehen.
    </p>

    {embed info-box, showCloseButton: false}{block info-box-text}
        Diese Angaben werden nach der Aufnahme-Entscheidung gelöscht (d.h. bei
        Aufnahme nach einem Monat, bei Ablehnung nach der nächsten Mitgliederversammlung).
    {/block}{/embed}

    {include form-group, label: 'Wie bist du auf das MHN aufmerksam geworden?', name: mhn_aufmerksam, type: textarea}
    {include form-group, label: 'Was möchtest du zu MHN beitragen?', name: mhn_beitragen, type: textarea}
    {include form-group, label: 'Was hat dein Interesse an MHN geweckt? Warum möchtest du Mitglied werden?', name: mhn_interesse, type: textarea}
    {include form-group, label: 'Welche Vorstellung und welche Erwartungen hast Du bislang von MHN?', name: mhn_vorstellung, type: textarea}
    {include form-group, label: 'Kennst du schon MHN-Mitglieder, die wir zu deinem Antrag kontaktieren können?', name: mhn_kennen, type: textarea}
    {include form-group, label: 'Was möchtest du uns sonst noch mitteilen?', name: mhn_bemerkungen, type: textarea}
</section>
