{import ../partials/components.latte}
{var $navId = templates}

{block title}Vorlage bearbeiten: {$template->getLabel()}{/block}
{block page-label}<i class="ti ti-settings" aria-hidden="true"></i> Aufnahmetool{/block}
{block page-header}
    <div class="action-links">
        <a href="/templates/"><i class="ti ti-arrow-left" aria-hidden="true"></i> zurück zur Übersicht</a>
    </div>
{/block}

{block content}

<section class="panel" aria-label="Vorlage bearbeiten">
<h2 id="templates-heading"><i class="label-icon ti ti-edit" aria-hidden="true"></i>Vorlage bearbeiten</h2>
    <form method="post">
        {=csrfTokenTag()}
        <input type="hidden" name="templateName" value="{$template->getName()}">

        <dl n:if="$template->getHints()">
            <div>
                <dt>Erläuterung</dt>
                <dd><pre>{$template->getHints()}</pre></dd>
            </div>
        </dl>

        {include form-group, name: subject, label: 'Betreff / Überschrift', value: $template->getSubject()}
        {include form-group, name: text, label: 'Inhalt', type: textarea, value: $template->getText()}

        <div class="form-actions">
            <button type="submit">Speichern</button>
        </div>
    </form>
</section>
{/block}
