{import ../partials/components.latte}
{var $navId = antrag}

{block title}Antrag bearbeiten{/block}
{block page-label}<i class="ti ti-edit" aria-hidden="true"></i> Mitgliedschaft{/block}

{block content}

{include info-box, type: warning, id: 'edit-warning-info', text: 'Achtung: Hier kannst du deinen Mitgliedsantrag einmalig bearbeiten. Sobald du deine Änderungen speicherst, wird der Link ungültig!'}

<form method="post">
    {=csrfTokenTag()}
    <input type="hidden" name="action" value="save" />

    {include '../AntragController/daten.latte'}

    {include info-box, type: warning, text: "Bitte beachte, dass du deinen Antrag nur einmal bearbeiten kannst. Sobald du deine Daten speicherst, wird der Bearbeitungslink ungültig."}
    <div class="form-actions">
        <button type="submit">Daten speichern</button>
    </div>
</form>
{/block}
