{var $navId = antrag}
{block content}
<h1 n:block=title>Antrag bearbeiten</h1>

<p>Dein Bearbeitungslink ist ungültig (geworden). Beachte, dass er nur einmal verwendet werden kann und auch ungültig wird, wenn sich der Bearbeitungsstatus deines Antrags ändert.</p>
