{var $navId = antraege}

{block title}E-Mail an {$antrag->getName()}{/block}
{block page-label}<i class="ti ti-mail" aria-hidden="true"></i> Antrag Nr. {$antrag->getId()}{/block}
{block page-header}
    <div class="action-links">
        <a href="/antraege/{$antrag->getId()}/"><i class="ti ti-arrow-left" aria-hidden="true"></i> Zurück zum Antrag</a>
    </div>
{/block}

{block content}

<section class="panel" aria-label="E-Mail">
    <dl>
        <div>
            <dt>Datum</dt>
            <dd>{$time|format:d.m.Y}</dd>
        </div>
        <div>
            <dt>Versendet durch</dt>
            <dd>{$userName}</dd>
        </div>
        <div>
            <dt>Zweck</dt>
            <dd>{$grund}</dd>
        </div>
        <div>
            <dt>Betreff</dt>
            <dd>{$subject}</dd>
        </div>
    </dl>
    <pre>{$text}</pre>
</section>
{/block}
